body {
  background: red;
}

.container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 3px;
  height: 100%;
  box-sizing: border-box;
}

.row {
  display: flex;
  /* Align items, nustato vertikalu lygiavima, jei flex-direction:row */
  align-items: stretch;
  /* flex-direction: row-reverse; */
  
  /* Valdo elementu isidestyma, ar gali elementai atsirasti vienas po kitu */
  flex-wrap: wrap;
}

.col {
  /* 
    Kadangi tevinis elementas .row turi display: flex 
    Sis elementas naudoja flexbox savybes (flexbox item)
    */
  width: 25%;

  /* 
  Flex Grow, jei reiksme yra sveikas skaiciaus daugiau uz 0   
  Tai pasakys musu flex item elementams, kad jie gali isiplesti
  kad uzpildyti visa container ploti
  */
  flex-grow: 1;
  /* Visada bus 20px tarpas tarp stulpeliu */
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
