/* CSS Selektorius */
p {
  /* Teksto Spalva */
  color: green; /* Color/Background ir Font-Size tai yra css properties */

  /* Fono spalva */
  background: tomato;

  /* Teksto dydis */
  font-size: 20px;

  /* Plotis */
  width: 50%; /* Galime naudoti: % , px yra ir kitu reiksmiu galimu (em, rem, vw, vh) */
}

h1 {
  color: red;
  background: black;
  font-size: 100px;
  text-align: center;
  font-weight: 700; /* 700 bold / 400 normalus / 300 light */
  line-height: 20px; /* Tarpas tarp eiluciu */
  /* Papildomai nagrinesime kitose pasakaitose */
  padding: 10px;
  margin: 10px;
}
